header {
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 3rem;
    border-bottom: 1px solid transparent;
}

footer {
    padding: 2rem 3rem;
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
